.player-list {
  list-style: none;
  padding: 0;
  li {
    height: 50px;
    position: relative;
    &:nth-child(odd) {
      background-color: $main-color-darken;
    }
    &.player {
      @include display-flex();
      @include justify-content(space-around);
      @include align-items(center);
      font-size: 26px;
      > .name {
        @include flex(1 100%);
        padding-left: 20px;
      }
      > .icon {
        @include flex(0 0 50px);
        i {
          vertical-align: middle;
          font-size: 1.4em;
        }
      }
    }
  }
}
