$login-container-top         : calc(50% - 185px) !default;
$login-container-left        : calc(50% - 185px) !default;
$login-container-padding     : 10px !default;
$login-container-width       : 350px !default;
$login-container-height      : 350px !default;
$login-container-background  : $main-color !default;
$login-container-shadow  : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !default;
$login-container_switch-color: $color-links !default;

.login-container {
  position        : absolute;
  text-align      : center;
  margin          : auto;
  top             : $login-container-top;
  left            : $login-container-left;
  padding         : $login-container-padding;
  width           : $login-container-width;
  height          : $login-container-height;
  background-color: $login-container-background;
  box-shadow: $login-container-shadow;
  > .switch {
    color: $login-container_switch-color;
    text-decoration: underline;
    display: block;
  }
  > .mdl-button {
    // TODO refactor: create button class
    margin-top: 20px;
  }
}
