@import "compass";

@import "config/colors";
@import "modules/**/*";

@import "helpers/helpers";

//@import "mixins/overlay";
//Rvn-lib
//@import "components/mdl/actionPicker";
@import "components/overlay";

//app level
//@import "components/list";
@import "components/buttons";
@import "components/login";
//@import "components/layout-mask";

//@import "components/pages/home";
//@import "components/pages/session-list";

@import "components/mdl/card";
@import "components/navigation";
@import "components/project";
@import "components/imageBanner";
@import "components/contact";

html {
  font-size: 18px;
  @media (max-width: 1400px) { font-size: 18px; }
  @media (max-width: 1200px) { font-size: 16px; }
  @media (max-width: 1024px) { font-size: 14px; }
  @media (max-width: 500px) { font-size: 12px; }
}

body {
  background-color: $color-white;
  color: $color-black;
  font-family: 'Roboto';
}
a {
  text-decoration: none;
  color: $color-links;
}
.page {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 24px 0 24px;
}
.mdl-layout__header {
  z-index: 1;
}

.page-content {
  margin-bottom: 200px;
  > .page-container {
    overflow-y: auto;
    margin-top: 3em;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
